*{
    margin:0;
    padding:0;
}
.log{
    position: absolute;
    left: 50%;
    top: 30%;
    transition: translate(-50%, -50%);
    height: auto;
    padding: 10px;
}
.log h1{
    text-align: center;
    color: rgba(29, 161, 242, 1);
    font-size: 40px;
}
.log h2{
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: 700;
    margin-top: 20px;
}
.log2{
    margin-top: 20px;
}
.log2 .box1{
 position: relative;
 width: 100%;
 height: auto;
 background: rgba(225, 225, 225, 3);
 display: block;
 margin-right: 0;
 margin-top: 10px;
 padding: 6px;   
}
.log .box1 label{
    font-size: 14px;
    font-family: sans-serif;
}
.log .box1 input{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 34px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0,.6);   
}
.log2 button{
    width: 100%;
    margin-top: 15px;
    height: 45px;
    background: transparent;
    background: rgba(29,161,242);
    border: none;
    outline: none;
    border-radius: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 16px;
    font-weight: 800;
    opacity: .6;
}
.log2 button:hover{
    cursor: pointer;
    opacity: 1;
}
.log p{
    text-align: center;
    margin-top: 20px;
}
.log a{
    text-decoration: none;
    font-size: 16px;
    font-family: sans-serif;
    color: rgb(29, 161, 241);
    text-decoration: none;
}
.log a:hover{
    text-decoration: underline;
}
.log .box2 input:focus{
    border-bottom: 2px solid dodgerblue;
}
.log .box:active{
    color: dodgerblue;
}








